/* Header Styling */

.header-wrapper {
    display: flex;
    justify-content: center;
    background-color: red;

    margin: 0px;
}

.header {
    color: green;
}

/* General Resume Styling */
.resume {
    background-color: lightgray;
    margin: 20px;
    padding: 20px;

    border: 3px solid black;
    border-radius: 20px;
}


/* Title Section Styling */
.title-wrapper {
    display: flex;
    flex-direction: column;
}

#full-name {
    margin: 0px;
    font-size: 48px;
}

#upper-title {
    margin: 0px;
    font-size: 24px;
}

.title-wrapper:hover {
    border: 3px solid black;
}

.title-wrapper:hover .edit-btn{
    display: block;
    position: absolute;
    right: 50px;
}

/* Lower Resume General styling */
.lower-resume-wrapper {
    display: flex;
}

.lower-resume-left {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.lower-resume-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

/* Contact / Skills / Interests Section styling */
.left-unit-wrapper {
    padding-right: 20px;
    background-color: darkgray;
    padding: 5px;
    margin-bottom: 10px;
}

.left-unit-wrapper p {
    margin: 10px 0px 5px 0px;
}

.left-unit-wrapper:hover .edit-btn{
    display: block;
}

#contact_info {
    font-size: large;
    text-decoration: underline;
}

/* Lower resume right styling */
.education-wrapper {
    width: auto;
}

.education-wrapper:hover .edit-btn {
    display: block;
}


/* Edit button / form styling */
.edit-btn {
    display: none;
    width: 100px;
    height: 30px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 30px;
    z-index: 1;

    background-color: red;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

.edit-form input, textarea {
    margin: 10px 5px 10px 5px;
    padding: 5px;
    font-size: large;
    border-radius: 5px;
}

.edit-form button {
    margin: 10px 0px 10px 5px;
    width: 100px;
}