/* Header Styling */

.header-wrapper {
    display: flex;
    justify-content: center;
    background-color: red;
    width: 100%;
    margin: 0px;
}

.header {
    color: green;
}

/* General Resume Styling */
.resume {
    background-color: lightgray;
    margin: 20px;
    padding: 20px;
    width: 1000px;
    border: 3px solid black;
    border-radius: 20px;
}


/* Title Section Styling */
.title-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

#full-name {
    margin: 0px;
    font-size: 48px;
}

#upper-title {
    margin: 0px;
    font-size: 24px;
}

.title-wrapper:hover .edit-btn{
    display: block;
    position: absolute;
    right: 50px;
}

/* Lower Resume General styling */
.lower-resume-wrapper {
    display: flex;
}

.lower-resume-left {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

.lower-resume-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

/* Contact / Skills / Interests Section styling */
.left-unit-wrapper {
    background-color: darkgray;
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
}

.left-unit-wrapper p {
    margin: 10px 0px 5px 0px;
}

.left-unit-wrapper:hover .edit-btn{
    display: block;
}

#contact_info {
    font-size: large;
    text-decoration: underline;
}

/* Lower resume right styling */
.section-header {
    display: flex;
    justify-content: space-between;
}

.experience-wrapper,
.education-wrapper {
    position: relative;
}

.education-wrapper:hover .edit-btn,
.experience-wrapper:hover .edit-btn {
    display: inline;
}

#education-title,
#experience-title {
    margin: 0px 0px 5px 10px;
    font-size: 24px;
}

/* Education and Experience section styling */
.exp-unit {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.edu-unit {
    display: flex;
}

.exp-unit-top {
    display: flex;
    font-size: 18px;
    font-weight: 800;
}

.edu-unit p,
.exp-unit p {
    margin: 0px 0px 5px 0px;
}

.exp-description {
    margin: 0px 0px 0px 10px;
}

.edu-unit-left,
.edu-unit-right,
.exp-unit-left,
.exp-unit-right {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    padding: 15px;
}

/* Edit button / form styling */
.edit-btn {
    display: none;
    width: 100px;
    height: 30px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;

    background-color: red;
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

.edit-form, fullname {
    position: absolute;
    
}
.edit-form, experience {
    position: absolute;
    top: 40px;
    right: 0px;
}

.edit-form, education {
    position: absolute;
}

.edit-form, contact {
    position: absolute;
}

.edit-form input, textarea {
    margin: 10px 5px 10px 5px;
    padding: 5px;
    font-size: large;
    border-radius: 5px;
}

.edit-form button {
    margin: 10px 0px 10px 5px;
    width: 100px;
}